<div id="app" v-cloak>
    <ul>
        {% for item in urls %}
        <li>
            <a @click="select('{{item.url}}')">
                {{item.title}}
            </a>
        </li>
        {% endfor %}
    </ul>
    <hr>
    <div>
        <div style=" width:100%">
            {% verbatim myblock %}
            <h2>{{title}}</h2>
            <p> {{author}} </p>
            <h2>{{chineseArticle.title}}</h2>
            <p> {{chineseArticle.author}} </p>
            <div style="float: left; width:50%;background-color: aqua;">
                <ul>
                    <li v-for="(item,index) in content" v-if=" !(item == null) && (item.length>0)" :ref="index">
                        <p>
                            <span v-if="index.split('_')[0]=='p' ">{{item}}</span>
                            <img v-if="index.split('_')[0]=='img' " :src="item" style="width:100%" />
                            <blockquote v-if="index.split('_')[0]=='b' ">{{item}}</blockquote>
                        </p>
                    </li>
                </ul>
            </div>
            <div style="float: left; width:50%;background-color: bisque;">
                <ul>
                    <li v-for="(item,index) in chineseArticle.content" v-if=" !(item == null) && (item.length>0)"
                        :style="li_style(index)">
                        <p>
                            <span v-if="index.split('_')[0]=='p' " @dblclick="changeMode($event)"
                                @click="keepSlient($event)">
                                <span class="echo"> {{item}}</span>
                                <textarea @change="updateContent($event)" :data-id="index"
                                    style="width: 100%;height:100%" :value="item" class="edit"></textarea>
                            </span>
                            <img v-if="index.split('_')[0]=='img' " :src="item" style="width:100%" />
                            <blockquote v-if="index.split('_')[0]=='b' " @dblclick="changeMode($event)"
                                @click="keepSlient($event)">
                                <span class="echo" style="color:darkgray;"> {{item}} </span>
                                <textarea @change="updateContent($event)" :data-id="index"
                                    style="width: 100%;height:100%" :value="item" class="edit"></textarea>
                            </blockquote>
                        </p>
                    </li>
                </ul>
            </div>
            {% endverbatim myblock %}
        </div>
    </div>
</div>

<script>

    var app = new Vue({
        el: '#app',
        data: {
            h: [],
            source: {
                name: '',
                href: '',
                logo: ''
            },
            title: '',
            author: '',
            content: { 'p_1': '英文原文' },

            chineseArticle: {
                source: {
                    name: '',
                    href: '',
                    logo: ''
                },
                title: '',
                author: '',
                content: { 'p_1': '中文翻译' }
            },

            editValue: ''
        },
        methods: {
            keepSlient(event) {
                event.preventDefault()
                event.stopPropagation()
            },
            updateContent(event) {
                var text = $(event.target).val();
                var dataId = $(event.target).attr('data-id')

                this.chineseArticle.content[dataId] = text
            },
            changeMode: function (event) {
                $('.edit').hide()
                $('.echo').show()
                $(event.target).parent().find('.edit').toggle()
                $(event.target).parent().find('.echo').toggle()

            },
            select: function (url) {
                fetch('/getEnglishArticle?url=' + url)
                    .then(resp => resp.text())
                    .then(json => {
                        if (JSON.parse(json).code == "200") {
                            article = JSON.parse(JSON.parse(json).data);
                            this.title = article.title;
                            this.author = article.author;
                            this.content = article.content;
                            fetch('/getChineseArticle')
                                .then(resp => resp.text())
                                .then(json => {
                                    if (JSON.parse(json).code == "200") {
                                        that = this
                                        setTimeout(function () {
                                            debugger
                                            that.chineseArticle = JSON.parse(JSON.parse(json).data);
                                        }, 2000)
                                    }
                                })
                        }

                    })

            },
            li_style: function (ref) {
                if (this.$refs.hasOwnProperty(ref) && ref.indexOf('img') < 0) {
                    let height = this.$refs[ref][0].offsetHeight;
                    return 'height:' + height + 'px'
                } else {
                    return ''
                }
            },

        },
        mounted: function () {
            $(document).click(function (event) {
                $('.edit').hide()
                $('.echo').show()
            })
        }
    })
</script>